name: Git Lint
on:
  pull_request:
    branches: [master]

jobs:
  validate-commits:
    name: Validate Commit Messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Gitlint
        run: pip install gitlint==0.19.1

      - name: Lint PR Commit Messages
        if: github.event_name == 'pull_request'
        run: "${{ github.event.pull_request.title }} | gitlint"
