name: release-please
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: write
  pull-requests: write


jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      release_tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: ngx-mat-multi-sort

  release-package:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - run: npm install
        name: Install dependencies

      - run: npm install -g @angular/cli
        name: Install angular cli

      - run: ng build mat-multi-sort --configuration production
        name: npm build

      - uses: actions/upload-artifact@v6
        with:
          name: package
          path: dist/mat-multi-sort

      - name: Publish
        run: |
          cd dist/mat-multi-sort
          npm publish
